<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Realizar Cadastro</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} Vá para a <a href="{{ url_for('webui.login') }}">página de login</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <h3> Informações Pessoais: </h3>
            <br>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nome" placeholder="Seu Nome" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="cpf" placeholder="CPF">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="pis" placeholder="PIS">
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Senha">
                </div>
            </div>

            <hr>

            <h3> Endereço: </h3>
            <br>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Pais" placeholder="País">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Estado" placeholder="Estado">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Municipio" placeholder="Município">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="CEP" placeholder="CEP">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Rua" placeholder="Rua">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="Numero" placeholder="Número">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Complemento" placeholder="Complemento">
                </div>
            </div>


            <button class="button is-block is-info is-large is-fullwidth">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}